<ul class="list-group col-6 mx-auto">
    <% for (const key in cart) { %> 
      <% if (key === 'cookie') continue %> 
      <li class="list-group-item border border-3">
        <%= key %>
        <ul>
          <li>name : - <%= cart[key].name %> </li>
          <li>quantity : - <%= cart[key].quantity %> </li>
          <li>price : - <%= cart[key].price %> </li>
        </ul>
      </li>
      <% } %> 
</ul>