<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Add Cooke</title>
</head>
<body>
  <form action="/" method="post">
    <fieldset>
      <legend>Add Cookie</legend>
      <label for="key">key </label>
      <input type="text" name="key" id="key">
      <label for="value">value </label>
      <input type="text" name="value" id="value">
      <button type="submit">Add</button>
    </fieldset>
  </form>

  <footer>
    <table>
      <tr>
        <th>Cookie Key</th>
        <th>Cookie Value</th>
      </tr>
      <% for (const key in cookies) { %>
        <tr>
          <td><%= key %> </td>
          <td><%= cookies[key] %> </td>
        </tr>
      <% } %> 
    </table>
  </footer>
</body>
</html>