body {
  box-sizing: border-box;
  min-height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li{
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 5px;
  border-radius: 7px;
  transition: all 0.1s linear;
  width: auto;
}

.theme-bg1 {
  background-color: #000023;
}

.header {
  height: 10rem;
  background: #000023 url('../media/banner.jpg') no-repeat;
  background-size: 50rem;
  background-position: 100%;
}

.img-container {
  top: 3rem;
}

.img {
  height: 200px;
  width: 200px;
}

